/* .etch-calendar button,
.etch-calendar button,
.etch-calendar button:hover,
.etch-calendar button:active,
.etch-calendar button:focus {
  border-radius: 50%;
} */

.etch-calendar button[data-selected] {
  background-color: #2465b1;
}

.etch-calendar table {
  width: 100%;
}

sub {
  bottom: 0 !important;
}

@media screen and (min-width: 1200px) {
  .etch-calendar h5 {
    font-size: 2rem;
  }

  .etch-calendar svg {
    transform: scale(2);
  }

  .etch-calendar table tr th {
    font-size: 1.2rem;
    opacity: 0.7;
  }

  .etch-calendar button,
  .etch-calendar button:hover,
  .etch-calendar button:active,
  .etch-calendar button:focus {
    font-size: 1.5rem;
    padding: 2rem 0.5rem !important;
    height: unset;
  }
}

.chakra-ui-dark .mapboxgl-popup-content {
  background-color: #1a202c;
}

.chakra-ui-dark .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #1a202c;
}

.mapboxgl-user-location-dot.current-stop,
.mapboxgl-user-location-dot.current-stop,
.mapboxgl-user-location-dot.current-stop:before {
  background-color: #212121;
}

.chakra-table.dependent-trip-list-table td {
  padding: 0.5rem 1rem;
}
